body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #007acc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 32px;
  margin: 0;
}

input[type="search"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 300px;
}

main {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item .content {
  //flex-grow: 1; /* Grow to fill available space */
  height: 170px;
  width: fill; /* Fill the width of the parent */
  background: #fff;
  margin: 2px;
  overflow: hidden;
  text-align: center;
}

.grid-item .title button {
  display: none;
}

.grid-item .content img {
  max-height: 100%;
}

footer {
  text-align: center;
  background-color: #007acc;
  color: #fff;
  padding: 10px;
}
